/* Matikan semua cursor */
* {
    cursor: default !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #f2f2f2;
    padding: 30px;
    font-family: Arial, sans-serif;
}

/* Container */
.container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Judul & Sub Judul */
h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Video QR */
video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #333;
}

/* Aktifkan cursor hanya di input manual */
input, select {
    cursor: text !important;
}

button {
    cursor: pointer !important;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background: #1a73e8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button:hover {
    background: #155ab6;
}

/* Log */
#log {
    background: #eee;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 14px;
    white-space: pre-line;
}
